.background {
    min-height: 100vh;
    display: flex;
    background-color: #35335fbe;
    justify-content: center;
    align-items: center;
}

.container {
    min-width: 320px;
    width: 370px;
    max-height: 667px;
}


.header {
    min-height: 64px;
    padding: 10px;
    background-color: #35335f;
}

.logo {
    padding: 3px;
    color: #fff3e6;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo p{
    
    
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:100%;
}
nav ul li{
    margin: 0;
}

.separators {
    padding: 5px;
    color: goldenrod;
    font-size: 1rem;
    font-weight: 100;
}

nav ul li a {
    color:#fff3e6;
    font-weight: bold;
    font-size: 1rem;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    border-radius: 10px;
    color: #daa520;
}

.main {
    min-height:460px;
    max-height: 460px;
    background-color: #fff3e6;
}


.main-container h3{
    padding: 30px;
    text-align: center;
    font-size: 1rem;
    color: #333300;

}
.main-container p{
    padding: 15px;
    text-align: justify;
    font-size: 0.8rem;
    color: #333300;
}

.footer {

    height: 64px;
    color: #fff3e6;
    background-color: #35335f;
    font-size: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}